<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new chat</title>
</head>
<body>
    <h3>Write a new chat...</h3>
    <form method="post" action="/chats">
        <div>
        <input placeholder="Enter your name" name="from"><br><br>
        <textarea name="msg">Write your message here</textarea><br><br>
<input placeholder="write receiver name" name="To"><br><br>
<button>Create Chat</button>
        </div>
    </form>
</body>
</html>